header {
  font-size: 100px;
  text-align: center;
}
body {
  background: linear-gradient(50deg, #81613c 0%, green 3%, blue 20%, gray 30%, black 80%);
  
}


#navbar {
  float: left;
  font-size: 45px;
  border-style: solid;
  border-style: white;
}




#navbarright {
  border-style: solid;
  border-color: white;
float:left;
  margin-left: 500px;
}

#navbarright ul{
              list-style-type: none;
            margin: 0;
            padding: 0;
            width: 150px;  
}


#navbarright a {
  color: white;
  font-size: 1.5vw;
}



.imgMain {
  text-align: center;
  margin-right: 350px;
}
h2 {
  text-align: center;
  font-size: 42px;
}
p {
  text-align: center;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 42px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 20px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

